<ion-view view-title="Incidentes Críticos" align="justify">
    <ion-content>
        <div class="im-wrapper padding">
        	<h3 class="calm-900" align=""><strong>Sobre o Aplicativo</strong></h3>
        	<p>
        		A elaboração deste aplicativo fez parte da obtenção de uma das notas do componente curicular Relaçãoes Humanas no Trabalho no curso superior de Análise e Desenvolvimento de Sistemas, IFPB campus Cajazeiras.
        	</p>
        	<h3 class="calm-900" align=""><strong>Objetivo</strong></h3>
        	<p>
        		Registrar incidentes críticos e prover um feedback (para avaliação de desempenho dos funcionários) em um período de tempo, tipo de incidente ocorrido e caracterização do incidente (positivo ou negativo).
        	</p>
        	<h3 class="calm-900" align=""><strong>Equipe</strong></h3>
        	<p>Natan da Silva Severo e Michelle Oliveira da Costa</p>
        </div>
    </ion-content>
</ion-view>