
<ion-view view-title="Incidentes Críticos" align="justify">
    <ion-content>
        <div class="im-wrapper padding">
        	<h3 class="calm-900" align="left"><strong>Método de Incidentes Críticos</strong></h3>
        	<p>
        		Segundo Sarmento et al. (2015, p. 95), incidentes críticos é um método que se baseia-se nas caracteristias extremas, incidentes críticos, que representam desempenhos altamente positivos ou altamente negativos.
        	</p>

        	<p>
				Segundo Hanashiro et al. (2008, p. 299), esse método permite que o avaliador determine pontos fortes e fracos do avaliador.
			</p>

			<p>
				Este método pode indentificar aspectos do trabalho sobre os quais deve incidir avaliação.
			</p>
			<div class="list "> 
				<div class="item item-divider" align="left">
					<strong class="calm-900">Vantagens</strong>
				</div>
				
				<div class="item">
					- Baixo custo associado.
				</div>
				
				<div class="item">
					- Avalia o desempenho excecionalmente bom e mau.	
				</div>

				<div class="item">
					- Enfatiza os aspectos excecionais do desempenho.
				</div>

				<div class="item">
					- Método de fácil montagem e utilização.	
				</div>
				
				<div class="item">
					- Flexível facilitando a aplicação a diversas funções.					
				</div>

				<div class="list">
					<div class="item item-divider" align="left">
						<strong class="calm-900">Desvantagens</strong>
					</div>
				
					<div class="item">
						Não se preocupa com aspectos normais de desempenho.
					</div>
				
					<div class="item">
						Não existe participação ativa do avaliado.
					</div>
				</div>

				<div>
					<h3 class="calm-900" align="left"><strong>Referências Bibliográficas</strong></h3>
					<p>
						HANASHIRO, D. M. M TEIXEIRA, M. L. M.; ZACCARELLI, L. M. <strong>Gestão do Fator Humano: uma visão baseada em stakeholders</strong>. São Paulo: Saraiva, 2008.
					</p>
					<p>
						SARMENTO, Manuela. ROSINHA, Antonio. SILVA, João. <strong>Avaliação do Desempenho</strong>. Escolar Editora. Lisboa, 2015.
					</p>
				</div>
			</div>
        </div>
    </ion-content>
</ion-view>