
<ion-view view-title="Incidentes Críticos">
    <ion-content>
        <div class="bar bar-subheader bar-light static text-center">
            <strong class="title">Todos os Funcionários</strong>
        </div>
        <div class="im-wrapper">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-label">
                        <input type="text" placeholder="Pesquisar Funcionário">
                    </label>
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>
