
<ion-view view-title="Incidentes Críticos" align="center">
    <ion-content>
        <div class="bar bar-subheader bar-light static text-center">
            <strong class="title">Detalhes do Incidente</strong>
        </div>
        <div class="im-wrapper" align="center">
            <div class="padding">
                <div class="item-text-wrapper" align="center">
                    <h2 class="calm-900"><strong>{{incid.titulo}}</strong></h2>

                	<h5><strong>Data:</strong></h5>
                    <p>{{incid.data}}</p>

                    <h5><strong>Funcionario:</strong></h5>
                    <p>{{incid.nome}}</p>

                    <h5><strong>Classificação:</strong></h5>
                    <p>{{incid.classificacao}}</p>

                    <h5><strong>Tipo: </strong></h5>
                    <p>{{incid.tipo}}</p>

                    <h5><strong>Descrição: </strong></h5>
                    <p>{{incid.descricao}}</p>
                </div>
            </div>    
            <button class="button button-calm-900 button-block" ng-click="voltar()">Voltar</button>
        </div>
    </ion-content>
</ion-view>
