
<ion-view view-title="Incidentes Críticos">
    <ion-content align="center">
        <div class="bar bar-subheader bar-light static text-center">
            <strong class="title">Ver Incidentes</strong>
        </div>

        <div class="im-wrapper" align="left">
        	<!-- Filtros para busca de incidentes -->
          <label class="item item-input item-select">
    			<div class="input-label">
					Filtrar por Tipo:
				</div>

    			<select ng-model="tipoIncidente">
            <option></option>
      			<option>Conhecimentos</option>
				    <option>Habilidades</option>
				    <option>Atitudes</option>	
    			</select>
  			</label><br/>
  			<label class="item item-input item-select">
   				<div class="input-label">
   					Filtro de Classificação:
    			</div>
    			<select ng-model="incidClassificacao">
            <option></option>
      			<option>Positivo</option>
				    <option>Negativo</option>
    			</select>
  			</label>
  			<br/>
        <div class="item item-divider">
          <p> Filtro por período:
        </div>
        <div class="row">
            <label class="item item-input">
              Inicio: <input type="date" ng-model="dataInicio">
            </label>
            <label class="item item-input">
              Fim: <input type="date" ng-model="dataFim">
            </label>
          </div>
        </div>
        
        	<!-- Resultados -->
        	<div class="card" ng-repeat="incidente in incidentes 
                  | filter:{tipo:tipoIncidente}
                  | filter:{classificacao: incidClassificacao}
                  | incidentesData:dataInicio:dataFim">
                <div class="item item-text-wrapper">
                	<h2><strong>Incidente:</strong> {{incidente.titulo}}</h2>
                	<h2>
                    	<strong>Funcionario:</strong>{{incidente.nome}}
                  </h2>
                	<!-- <h2>
                    	<strong>Data: </strong>{{incidente.data}}
                    </h2> -->
                    <br/>
                <div class="row">
                  <div class="col-50">
                    <button class="button button-balanced button-small" 
                    ng-click="detalhesIncidente(incidente.id)">
                      Detalhes
                    </button>
                  </div>
                  <div class="col-50">
                    <button class="button button-assertive button-small" 
                    ng-click="removeIncidente(incidente.id)">
                      Remover
                    </button>
                  </div>
                </div>
              </div>
        </div>
            </div>
        </div>
    </ion-content>
</ion-view>

		</div>
	</ion-content>
</ion-view>